/* STYLESHEET FOR ALL PAGES */

/* Navbar */
.navbar {
    background-color: black;
    opacity: 0.8;
    margin-right: 100px;
}

/* Social Links */
.social-links {
    display: flex;
    position: fixed;
    top: 10px;
    right: 10px;
}
.fab {
    color: white;
    margin: 10px;
    size: 5px;
}

/* Page Background */
body {
    background-color: black;
}

/* All text */
h1, h2, p {
    font-family:'Times New Roman', Times, serif;
}