.navbar {
    display: flex;
}

h4 {
    display: flex;
    flex-direction: row;
    margin: 20px;
    text-align: right;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: grey;
}

body {
    background-color: rgb(42, 34, 25);
}
